<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Title of Fragment</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="../css/animation.css">
        <script src="../js/map.js"></script>
    		<script src="../js/animation.js"></script>
    		<link rel="stylesheet" href="../css/animation.css">
    </head>	
	<body>
	<div th:fragment="addAdmin">
		<form th:action="@{/gerrymander/manage}"
	        th:object="${user}" method="post" role="form">
	        <h1>Manager : </h1>
	        <p>Set a new "admin" account:</p>
	        <p>Email: <input type="text" th:field="*{email}"/></p>
	        <p><input type="submit" value="Complete"/></p>
	    </form>
	    
	</div>
</body>
</html>