<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Title of Fragment</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="../css/animation.css">
        <script src="../js/map.js"></script>
    		<script src="../js/animation.js"></script>
    		<link rel="stylesheet" href="../css/animation.css">
    </head>	
	<body>
	<div th:fragment="findUserActivity">
		<form th:action="@{/gerrymander/manage/userActivity}"
	        th:object="${user}" method="post" role="form">
	        <h1>Search for User Activity: </h1>
	        <p>Total users: <span th:text="${totalUsers}"></span></p>
	        <p>Email: <input type="text" th:field="*{email}"/></p>
	        <p><input type="submit" value="View"/></p>
	    </form>
	    
	</div>
</body>
</html>