<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Title of Fragment</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="../css/animation.css">
        <script src="../js/map.js"></script>
    		<script src="../js/animation.js"></script>
    		<link rel="stylesheet" href="../css/animation.css">
    </head>	
	<body>
	<div th:fragment="getViewTestFrag">
		<form action="#" th:action="@{/gerrymander/manage/viewTestPage}" th:object="${exportPane}" method="post">
	    
		<div>
			<h1>Upload and view test result: </h1>
	        <p>JSON File Name (Has to be under /json folder for now): <input type="text" th:field="*{yearsFileName}" /></p>
        </div>
       
        <p><input type="submit" value="Upload" /> <input type="reset" value="Reset" /></p>
    </form>
	    
	</div>
</body>
</html>