<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Title of Fragment</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="../css/animation.css">
        <script src="../js/map.js"></script>
    		<script src="../js/animation.js"></script>
    		<link rel="stylesheet" href="../css/animation.css">
    </head>
<body>
	<div th:fragment = "manageBar" class = "aboutLeftNav">
		<div id="mySidenav" class="manageNav">
			<div class = "manageText">
		  		<!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
		  	<a href="http://localhost:8080/gerrymander/manage">User List</a>
			  <a href="http://localhost:8080/gerrymander/manage/addUser">Add New User</a>
			  <a href="http://localhost:8080/gerrymander/manage/manageUser">Manage Users</a>
			  <a href="http://localhost:8080/gerrymander/manage/userActivity">User Activity</a>
			  <a href="http://localhost:8080/gerrymander/manage/uploadVotes">Upload Political Data</a>
			  <a href="http://localhost:8080/gerrymander/manage/uploadDemo">Upload Demo. Data</a>
			  <a href="http://localhost:8080/gerrymander/manage/exportResult">Save Test Result</a>
			  <a href="http://localhost:8080/gerrymander/manage/viewTestPage">View Test Result</a>
			  <a href="http://localhost:8080/gerrymander/manage/exportDemo">Export Demographic Data</a>
			  <!-- <a href="http://localhost:8080/gerrymander/about">About</a> -->
			  <!-- <a href="#contact">Contact</a>
			  <a href="credit">Credit</a>
			  <a href="credit">Log out</a> -->
		  </div>
		</div>
			
	</div>
</body>
</html>