<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Gerrymander Test Result</h1>
	<form action="#" th:action="@{/gerrymander}" th:object="${district}" method="post">
		<p th:text="'District Id: ' + ${district.districtId}" />
		<p th:text="'State Name: ' + ${district.stateName}" />
		<p th:text="'Year: ' + ${district.year}" />
		<p th:text="'Area: ' + ${district.area}" />
		<p th:text="'Population: ' + ${district.population}" />
	    
    </form>
    <form class = "login-register-group" action="gerrymander.html">
		<input  class="btn btn-primary block full-width m-b" type="submit" value="Gerrymander Test" />
	  </form>
    
</body>
</html>