<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../js/animation.js"></script>
	<link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/pieCSS.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	
</head>
<style>
.axis path,
.axis line{
	fill:none;
	stroke:black;
	shape-rendering:crispEdges;
}
.axis text{
	font-family: sans-serif;
	font-size: 11px;
}
 
</style>
<body>
	<header><div th:replace="fragments/header :: header">Header</div></header>
	<div th:replace="fragments/measurePane :: measurePane">Header</div>
	
	<div class = "managePane">
	<script src='https://d3js.org/d3.v3.min.js'></script>
		<div th:replace="fragments/lopsidedFrag :: lopsidedFrag">Header</div>
	</div>
	  	<!-- // <script src="d3/d3.js" charset="utf-8"></script> -->
   <script>
   var w = 600,h = 400,padding = 30;

 //random data
 var dataset = [];
 dataset.push([0.5,0.7])
 dataset.push([1.0,1.0])
 var numDataPoints = 100; //總共100個點
 var xRange = Math.random() * 500;
 var yRange = Math.random() * 1000;
 for (var i = 0; i < numDataPoints; i++){
 	var num1 = Math.floor(Math.random() * xRange);
 	var num2 = Math.floor(Math.random() * yRange);
 	
 }//和更早之前一樣，我們用假的資料來做範例
 console.table(dataset)

 var Xmax = d3.max(dataset, function(d){return d[0]}),
 	Xmin = d3.min(dataset, function(d){return d[0]}),
 	Ymax = d3.max(dataset, function(d){return d[1]}),
 	Ymin = d3.min(dataset, function(d){return d[1]})
 	//取得X,Y的最大及最小值

 var xScale = d3.scale.linear() //製作線性尺度
 	.domain([0, 3]) //輸入的範圍
 	.range([padding , w - padding]) //輸出的範圍


 var yScale = d3.scale.linear()
 	.domain([0, 1])
 	.range([ h - padding , padding])


 var svg = d3.select('body').append('svg').attr({'width': w,'height': h}).style({'border': '1px dotted #aaa'}); //增加SVG容器
 	
 	svg.selectAll('circle').data(dataset).enter() //插入資料
 	.append('circle') //增加圓形物件
 	.attr({
 		'cx': function(d){return xScale(d[0])}, //利用尺度算出圓心x位置
 		'cy': function(d){return yScale(d[1])}, //同上算出y
 		'r': '3px', //圓心大小
 		'fill': 'black' //填色
 	});

 	svg.selectAll('text').data(dataset).enter() //插入資料
 	.append('text') //增加文字區塊
 	.text(function(d){ return d[1]}) //補上坐標文字
 	.attr({
 		'x': function(d){return xScale(d[0])},
 		'y': function(d){return yScale(d[1])},
 		'fill': 'red', //填滿紅色
 		'font-size': '10px' //文字大小
 	});

 //Axis
 var xAxis = d3.svg.axis().scale(xScale) //增加軸線物件，並套用尺度(x)
 	.orient("bottom") //標示位置
 	.ticks(6) //刻度數量

 var yAxis = d3.svg.axis().scale(yScale) //增加軸線物件，並套用尺度(y)
 	.orient("left") //標示位置
 	.ticks(10) //刻度數量

 //刻度化標籤，這範例不使用
 // var formatAsAxis = d3.format('.1%');
 // xAxis.tickFormat(formatAsAxis);
 //刻度化標籤


 svg.append('g').attr('class', 'axis') //增加一個群組並加上class="axis"
 	.attr('transform', 'translate(0, '+ (h - padding) +')') //移動到下方
 	.call(xAxis); //將軸線匯入

 svg.append('g').attr('class', 'axis')
 	.attr('transform', 'translate('+ (padding) +')', 0) //移動到左方
 	.call(yAxis);</script>
 	 <script src='https://d3js.org/d3.v3.min.js'></script>
</body>
</html>