<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <script src="../js/map.js"></script>
    <script src="../js/animation.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../css/map.css">
	<link rel="stylesheet" href="../css/animation.css">
	<link th:href="@{css/style.css}" rel="stylesheet" />
	

</head>
<body>
	<!-- jQuery-->
  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script
    src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!-- Bootstrap Validator plugin -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
	
	<header><div th:replace="fragments/header :: header">Header</div></header>
	<form action="#" th:action="@{/gerrymander/account}" th:object="${user}" method="post">
		<div>
			<p id = "firstnametag">Email: &emsp;&emsp;&nbsp;
		        <span th:text="${email}"></span></p>
			<p id = "firstnametag">First Name: &emsp;&emsp;&nbsp;
			<input type="text" th:field="*{firstName}" value = "${firstName}"></p>
			<p id = "firstnametag">Last Name: &emsp;&emsp;&nbsp;
			<input type="text" th:field="*{lastName}" value = "${lastName}"></p>
			
			<p >Reset Password: &emsp;&emsp;&nbsp;
			<input type="password" th:field="*{password}" placeholder="New Password" /> <br /></p>
		</div>
		<button type="submit"
	          class="btn btn-primary block full-width m-b">Save
	          </button>
	    
    </form>
</body>
</html>