<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Adjustable Pie Chart</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel="stylesheet" href="/css/pieCSS.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
	<div th:fragment="demoPieFrag">
	  
	  <section>
	    <div class="demopieID pie">
	      
	    </div>
	    <ul class="demopieID legend">
	      <li>
	        <em>Male</em>
	        <span th:text="${maleNum}"></span>
	      </li>
	      <li>
	        <em>Female</em>
	        <span th:text="${femaleNum}"></span>
	      </li>
	      
	    </ul>
	  </section>
	  
	  </div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="/js/pieJS.js"></script>

</body>
</html>
