<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <script src="../js/map.js"></script>
    <script src="../js/animation.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/maps/modules/data.js"></script>
	<script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
	<script src="https://code.highcharts.com/maps/modules/map.js"></script>
	<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
	
	
	<script src="../js/districts/al.js"></script>
	<script src="../js/districts/ak.js"></script>
	<script src="../js/districts/as.js"></script>
	<script src="../js/districts/az.js"></script>
	<script src="../js/districts/ar.js"></script>
	<script src="../js/districts/ca.js"></script>
	<script src="../js/districts/co.js"></script>
	<script src="../js/districts/de.js"></script>
	<script src="../js/districts/dc.js"></script>
	<script src="../js/districts/fl.js"></script>
	<script src="../js/districts/ga.js"></script>
	<script src="../js/districts/hi.js"></script>
	<script src="../js/districts/id.js"></script>
	<script src="../js/districts/il.js"></script>
	<script src="../js/districts/in.js"></script>
	<script src="../js/districts/ia.js"></script>
	<script src="../js/districts/ks.js"></script>
	<script src="../js/districts/ky.js"></script>
	<script src="../js/districts/la.js"></script>
	<script src="../js/districts/me.js"></script>
	<script src="../js/districts/md.js"></script>
	<script src="../js/districts/ma.js"></script>
	<script src="../js/districts/mi.js"></script>
	<script src="../js/districts/mn.js"></script>
	<script src="../js/districts/ms.js"></script>
	<script src="../js/districts/mo.js"></script>
	<script src="../js/districts/mt.js"></script>
	<script src="../js/districts/ne.js"></script>
	<script src="../js/districts/nv.js"></script>
	<script src="../js/districts/nh.js"></script>
	<script src="../js/districts/nj.js"></script>
	<script src="../js/districts/nm.js"></script>
	<script src="../js/districts/ny.js"></script>
	<script src="../js/districts/nc.js"></script>
	<script src="../js/districts/nd.js"></script>
	<script src="../js/districts/oh.js"></script>
	<script src="../js/districts/ok.js"></script>
	<script src="../js/districts/or.js"></script>
	<script src="../js/districts/pa.js"></script>
	<script src="../js/districts/ri.js"></script>
	<script src="../js/districts/sc.js"></script>
	<script src="../js/districts/sd.js"></script>
	<script src="../js/districts/tn.js"></script>
	<script src="../js/districts/tx.js"></script>
	<script src="../js/districts/ut.js"></script>
	<script src="../js/districts/vt.js"></script>
	<script src="../js/districts/va.js"></script>
	<script src="../js/districts/wa.js"></script>
	<script src="../js/districts/wv.js"></script>
	<script src="../js/districts/wi.js"></script>
	<script src="../js/districts/wy.js"></script>

	<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="./css/map.css">
	<link rel="stylesheet" href="./css/animation.css">
</head>
<body>
	<header><div th:replace="fragments/header :: header">Header</div></header>
	
	<form action="#" th:action="@{/gerrymander/superDistrict}" th:object="${superDistrictHtml}" method="post">
    		<input id="stateName" type="text" name="stateName" value="CA" >
    		<input id="year" type="text" name="year" value="2016" >
    		<input id="selected" type="text" name="selected" value="1,4" >
    		<input id="selectYear" type="hidden" name="selectYear" >
    		<input id="selectStateName" type="hidden" name="selectStateName" >
    		
    		<input id="submitBtn" type="submit" value="FinishSuperDistrict"><br/>
    </form>
    
    <form action="#" th:action="@{/gerrymander}" th:object="${selectBar}" method="post">
    		
		<div class = "leftBorder">
			<div id = "leftBorderLogo"><h3>Welcome to the Stony Brook University<br/> Gerrymandering Analysis page! <br/><br/>
			On this site, you can check how gerry-<br/>mandering affects your state and learn <br/> about efforts to solve the problem. <br/>
			<br/><br/><br/><br/>
			Scroll down here <br/>to see more information!</h2></div>
			<div class = "leftNavBar">
				<select name="year" id="dropDownMenu" onchange="stateMap()">
				  <option value="2016" selected="selected">2016</option>
				  <option value="2014">2014</option>
				  <option value="2012">2012</option>
				</select>
				
				<p id = "stateNameLogo">Selected State:&emsp;&emsp;&nbsp;
				<input id="stateName" type="text" name="stateName" value="AL" ></p>
				<p id = "districtIdLogo">Selected District ID: 
				<input id="districtId" type="text" name="districtId" value="1"></p>
				
				<select th:field="*{measure}" class="dropDownMenu">
					 <option th:each="measure : ${measureList}" 
					          th:value="${measure}" 
					          th:text="${measure.name}"/>
				</select><br/>
				<input id="submitBtn" type="submit" value="Click here to see more detail"><br/>
			</div>
		</div>
		<div class="mapChartContainer">
			<div id="stateMap"></div><br/>
			<div id="chart"></div><br/>
			<div id="districtMap"><h1>Click a state from the map to see<br/> detail information about a district</h1></div><br/>
			<div id="superDistrictMap"></div><br/>
		</div>

    </form>
    
    <script>
	    stateMap();
	    statesChart();
	    superDistrict();
	</script>
</body>
</html>
