<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Gerrymandering Page</title>
	
	
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/maps/modules/data.js"></script>
	<script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
	<script src="https://code.highcharts.com/maps/modules/map.js"></script>
	<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="./js/map.js"></script>
	
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-al-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ak-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-as-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-az-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ar-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ca-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-co-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ct-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-de-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-dc-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-fl-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ga-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-hi-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-id-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-il-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-in-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ia-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ks-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ky-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-la-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-me-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-md-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ma-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-mi-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-mn-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ms-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-mo-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-mt-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ne-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-nv-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-nh-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-nj-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-nm-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ny-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-nc-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-nd-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-oh-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ok-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-or-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-pa-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ri-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-sc-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-sd-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-tn-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-tx-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-ut-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-vt-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-va-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-wa-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-wv-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-wi-congress-113.js"></script>
	<script src="https://code.highcharts.com/mapdata/countries/us/custom/us-wy-congress-113.js"></script>


	<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="./css/map.css">
	
</head>
<body>
	<header>
		<img src="./img/SBLogo.png" alt="Stony Brook Logo" id="SBLogo" align="left">
		<img src="./img/SBLogoBackground.png" alt="Stony Brook Logo Background" id="SBLogoBackground">
		<i><h1> Gerrymandering Analysis Tool </h1></i>
		<div class="menuBtn">
			<img src="./img/menuBtn.png" alt="Dropdown Menu Button" id="menuBtnImg">
		</div>
	</header>
	<div id="container"></div>
	<script>
		map();
	</script>
	
	<form action="#" th:action="@{/gerrymander}" th:object="${selectBar}" method="post">
    		<!-- <select th:field="*{stateName}">
		  <option th:each="measure : ${stateNameList}" 
		          th:value="${stateName}" 
		          th:text="${stateName}"/>
		</select>
		<select th:field="*{districtId}">
		  <option th:each="districtId : ${districtIdList}" 
		          th:value="${districtId}" 
		          th:text="${districtId}"/>
		</select> -->
	    <p>State Name: <input type="text" th:field="*{stateName}" /></p>
	    	<p>District Id: <input type="text" th:field="*{districtId}" /></p>
        
		<select th:path = "year" th:field="*{year}">
             <option th:each="year : ${yearList}"
                             th:value="${year}"
                             th:text="${year}" />
         </select>
		
		<select th:field="*{measure}">
		  <option th:each="measure : ${measureList}" 
		          th:value="${measure}" 
		          th:text="${measure.name}"/>
		</select>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>